/*Global properties*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --content-bg: #222431;
    --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --border-default: 1px white solid;
    --character-icons-size: 64px;
    --color-cryo: #cefefe;
    --color-pyro: #ed9057;
    --color-anemo: #a6f4cc;
    --color-geo: #f3d661;
    --color-hydro: #08def9;
    --color-dendro: #b0e82b;
    --color-electro: #af73dc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #1d1f29;
    height: 80vh;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #fff;
    text-decoration: none;
}

/*Navbar*/
.navbar {
    background-color: var(--content-bg);
}

.hamburger-icon {
    color: white;
}

.brand {
    margin-right: 1rem;
    box-shadow: inset -5px 0 20px 1px var(--color-dendro);
    border-radius: 50px;
    padding: 5px;
}

    .brand img {
        width: 48px;
        transform: rotate(-45deg);
        opacity: 0.5;
    }

.nav-item.active {
    border-bottom: 3px solid var(--color-dendro);
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 30px 0;
    line-height: 1.6;
}

.footer-bg {
    border-top: 1px solid #36384a;
    background: #222431;
}

/* Content */
.content {
    position: relative;
    width: 100%;
    margin: auto;
    background: var(--content-bg);
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.content-row {
    flex-flow: row wrap;
}

.content-col {
    flex-flow: column nowrap;
}

.content-row,
.content-col {
    display: flex;
    justify-content: space-evenly;
}

.characters-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.character-container {
    min-width: fit-content;
    width: 100%;
    margin: 5px 0;
}

.character-portrait {
    position: relative;
    width: fit-content;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

.character-element {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: #36384a;
    border-radius: 100px;
    padding: 3px;
}

.character-icon {
    width: 70px;
    height: 70px;
    background: #36384a;
    border-radius: 4px;
    margin-bottom: 5px;
}

.character-name {
    width: 100%;
    color: #a7b1c1;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.character-details {
    width: 100%;
    text-align: center;
}

    .character-details a {
        display: inline-block;
    }

.details-icon {
    opacity: 0.7;
}

    .details-icon:hover {
        color: var(--color-dendro);
        opacity: 0.9;
    }

/* Custom text */
.text-anemo {
    color: var(--color-anemo);
}

.text-pyro {
    color: var(--color-pyro);
}

.text-cryo {
    color: var(--color-cryo);
}

.text-geo {
    color: var(--color-geo);
}

.text-hydro {
    color: var(--color-hydro);
}

.text-dendro {
    color: var(--color-anemo);
}

.text-other {
    color: ghostwhite;
}

.text-anemo,
.text-pyro,
.text-cryo,
.text-geo,
.text-hydro,
.text-dendro,
.text-other {
    text-shadow: 1px 1px 4px ghostwhite;
}

/*****VIEW-CHARACTER SECTION********/

.character-vision,
.character-weapon {
    width: var(--character-icons-size);
    height: var(--character-icons-size);
}

/*****EDIT-CHARACTER SECTION********/
.img-thumbnail {
    width: 106px;
    height: 106px;
}

.btn-update {
    background-color: #393d57;
    border: none;
}

    .btn-update:hover {
        background-color: #a7b1c1;
    }

/* Media queries */

@media (min-width: 576px) {
    .characters-list {
        justify-content: flex-start;
    }

    .character-container {
        width: 25%;
    }
}

@media (min-width: 768px) {
    :root {
        --character-icons-size: 106px;
    }

    .character-container {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .content {
        width: 80%;
    }

    .characters-list {
        justify-content: space-evenly;
    }

    .character-container {
        width: 12.5%;
    }
}

/*Helpers*/

/* h2,
div,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.row {
  border: var(--border-default);
} */
