/*Global properties*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --content-bg: #222431;
    --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --border-default: 1px white solid;
    --character-icons-size: 64px;
    --color-cryo: #cefefe;
    --color-pyro: #ed9057;
    --color-anemo: #a6f4cc;
    --color-geo: #f3d661;
    --color-hydro: #08def9;
    --color-dendro: #b0e82b;
    --color-electro: #af73dc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: lightskyblue;
    /* background: #1d1f29; */
    height: 80vh;
}

.nav {
    background-color: var(--content-bg);
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #fff;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 30px 0;
    line-height: 1.6;
}

.footer-bg {
    border-top: 1px solid #36384a;
    background: #222431;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    background: var(--content-bg);
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.content-row {
    flex-flow: row wrap;
}

.content-col {
    flex-flow: column nowrap;
}

.content-row,
.content-col {
    display: flex;
    justify-content: space-evenly;
}

.character-portrait {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px white solid;
}

.character-element {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: #36384a;
    border-radius: 100px;
    padding: 3px;
    border: 1px white solid;
}

.character-icon {
    width: 70px;
    height: 70px;
    background: #36384a;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px white solid;
}

.character-name {
    width: 100%;
    color: #a7b1c1;
    font-size: 1rem;
    text-align: center;
    margin: 5px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px white solid;
}

.character-details {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.details-icon {
    opacity: 0.7;
}

    .details-icon:hover {
        color: #ffd774;
        opacity: 1;
    }


.text-anemo {
    color: var(--color-anemo);
}

.text-pyro {
    color: var(--color-pyro);
}

.text-cryo {
    color: var(--color-cryo);
}

.text-geo {
    color: var(--color-geo);
}

.text-hydro {
    color: var(--color-hydro);
}

.text-dendro {
    color: var(--color-anemo);
}

.text-other {
    color: ghostwhite;
}

.text-anemo,
.text-pyro,
.text-cryo,
.text-geo,
.text-hydro,
.text-dendro,
.text-other {
    text-shadow: 1px 1px 4px ghostwhite;
}

/*****VIEW-CHARACTER SECTION********/

.character-vision,
.character-weapon {
    width: var(--character-icons-size);
    height: var(--character-icons-size);
}

/*****EDIT-CHARACTER SECTION********/
.img-thumbnail {
    width: 106px;
    height: 106px;
}


.btn-update {
    background-color: #393d57;
    border: none;
}

    .btn-update:hover {
        background-color: #a7b1c1;
    }

/*Helpers*/

h2,
.navbar,
.nav,
.form-group,
div,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.row {
    border: var(--border-default);
}

/* Media queries */

@media (min-width: var(--sm-breakpoint)) {
}

@media (min-width: var(--md-breakpoint)) {
    :root {
        --character-icons-size: 106px;
    }
}

@media (min-width: var(--lg-breakpoint)) {
}

@media (min-width: var(--xl-breakpoint)) {
}
