@model IEnumerable<GenshinMVC.Models.CharacterVM>

@{
    ViewBag.Title = "Characters";
    ViewBag.characterIconURL = "https://rerollcdn.com/GENSHIN/Characters/";
    ViewBag.elementIconURL = "https://rerollcdn.com/GENSHIN/Elements/";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <header class="row d-flex justify-content-center">
        <h2>@ViewBag.Title</h2>
    </header>
    <div class="row d-flex flex-row flex-wrap justify-content-center">
        <main class="content col-md-10 col-sm-12">
            @foreach (var character in Model)
            {
                <a class="character-portrait" href=@Url.Action("Index", "CharacterDetails", new { id = character.Id }) target="_self">
                    <img class="character-element" src=@String.Concat(ViewBag.elementIconURL, "Element_", character.Vision, ".png") alt="@character.Vision" />
                    <img class="character-icon" src=@String.Concat(ViewBag.characterIconURL, character.Name,".png") alt="@character.Name">
                    <span class="character-title">@character.Name</span>
                </a>
            }
        </main>
    </div>
</section>

